* {
    margin: 0;
    padding: 25px;
}

#solidborder {
    box-sizing: border-box;
    display: flex;
    margin: 50px;
    border: 5px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    align-items: flex-end;
}

#purplebox {
    display: inline;
    background-color: #924BD7;
    margin: 5px;
    padding: 5px;
    height: 150px;
    width: 50px;
}

#greenbox {
    display: inline;
    background-color: #228B22;
    margin: 0 50px;
    padding: 50px;
    height: 200px;
    width: 400px;
}

#bluecircle {
    display: inline;
    background-color: #87CEEB;
    margin: 5px;
    padding: 5px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#dottedborder {
    margin: 30px;
    border: 5px;
    border-color: black;
    border-style: dotted;
    padding: 50px;
    box-sizing: border-box;
}

#creambox {
    background-color: #fffacd;
    margin: 40px;
    padding: 100px;
    border: 1px;
}

h1 {
    color: #000080;
    text-align: center;

}